{
  "env": {
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ],
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  },
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "/__mocks": "./__mocks__",
          "/__tests": "./__tests__",
          "/components": "./components",
          "/contexts": "./contexts",
          "/pages": "./pages",
          "/static": "./static",
          "/style": "./styles",
          "/utils": "./utils",
          "/config": "./config",
          "/i18n": "./i18n"
        }
      }
    ]
  ]
}
