@import 'styles/color.scss';
@import 'styles/fonts.scss';
@import 'styles/responsive.scss';

.miniMenu {
  display: none;
  @include mobile {
    display: block;
  }
}

.fullMenu {
  > span {
    padding-left: 1.2em;
    padding-right: 1em;
  }

  a { color: $color-pebble-grey70 }
  a:hover { color: $color-carrot-orange-shade1 }
  a:active { color: $color-carrot-orange-shade3 }

  @include mobile {
    display: none;
  }
}